@use "../vars";

button,
.btn {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;

  &:disabled,
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.95);
  }

  &.primary {
    color: map-get(vars.$gray, 800);
    background-color: vars.$primary;

    &:hover {
      background-color: lighten(vars.$primary, 10%);
    }
  }

  &.secondary {
    color: map-get(vars.$gray, 100);
    background-color: map-get(vars.$gray, 400);

    &:hover {
      background-color: lighten(map-get(vars.$gray, 400), 10%);
    }
  }
}
