@forward "buttons";
@forward "inputs";
@forward "transitions";

@use "../vars";

::selection {
  background-color: rgba(vars.$primary, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: vars.$light1;
}

html {
  background-color: vars.$dark2;
}

body {
  margin: 0;
}

video {
  display: block;
  max-width: 100%;
  transform: scaleX(-1);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style-type: none;
}

#modals {
  z-index: 1000;
}
