@forward 'buttons';
@forward 'inputs';
@forward 'text';
@forward 'responsive';

@use '../vars';

::selection {
  background-color: rgba(vars.$primary, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
