@forward "buttons";
@forward "inputs";
@forward "text";
@forward "responsive";
@forward "transitions";
@forward "spacing";
@forward 'background';
@forward 'shadows';

@use "../vars";

::selection {
  background-color: rgba(vars.$primary, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
video {
  display: block;
  max-width: 100%;
  transform: scaleX(-1);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

#modals{
  z-index: 1000;
}