@use "../vars";

input {
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: map-get(vars.$gray,200);
  }
}
