@use "../vars";
@use "mixins" as *;

@mixin home-view {
  .home-view {
    @include mq(sm) {
      background-image: linear-gradient(
        to bottom,
        rgba(vars.$dark2, 0.75),
        vars.$dark1
      );
    }

    @include mq(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq(lg) {
      padding-top: 3rem;
    }
  }
}

@mixin page-head {
  .head {
    @include mq(sm) {
      &__content {
        margin-bottom: 2rem;
        h1,
        p {
          margin-left: 2rem;
        }
      }
      &__bg {
        display: none;
      }
    }

    @include mq(lg) {
      &__content {
        h1 {
          font-size: 5rem;
        }
        h1,
        p {
          margin-left: 6rem;
        }
      }

      &__line {
        min-width: 200px;
      }
    }
  }
}

@mixin hero-form {
  .form {
    @include mq(sm) {
      max-width: 400px;

      &__join,
      &__create {
        margin-left: 2rem;
      }
    }

    @include mq(lg) {
      &__join,
      &__create {
        margin-left: 6rem;
      }

      &__line {
        min-width: 200px;
      }
    }
  }
}

@mixin hero-graphic {
  .graphic {
    @include mq(md) {
      display: block;
      &__img {
        @include vars.sqr(400px);
        transform: rotate(-45deg) translate(100px, 100px);
      }
      &__bottom {
        transform: rotate(45deg) translate(50px, -40px);
      }
    }

    @include mq(lg) {
      &__img {
        @include vars.sqr(600px);
        transform: rotate(-45deg) translate(200px, 100px);
      }
      &__bottom {
        transform: rotate(45deg) translate(-100px, -100px);
        @include vars.sqr(400px);
      }
    }
  }
}
