@use "sass:map";

$primary: #20FFD7;
$primary-light: #D2FFF7;
$secondary: #CB00AA;

$light1: #FFF;
$light2: #BBB;
$light3: #EDF8FF;

$dark1: #111;
$dark2: #222;
$danger: #ff4b4b;
$danger-light: #f8e0e0;

$gray: (
    100: white,
    200: #C4CFD1,
    400: #6A7E92,
    600: #2D4A65,
    800: #153C29,
);