@mixin sqr($side: 100%) {
  width: $side;
  height: $side;
}

@mixin pseudo() {
  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @content;
  }
}

@mixin overlap-children() {
  display: grid;
  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}
