@mixin sqr($side: 100%) {
  width: $side;
  height: $side;
}

@mixin pseudo(){
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @content;
  }
}